
*{
    border: 0;
    margin: 0;
    padding: 0;
}

 nav,section{
    display: block;
}

@font-face{
    font-family: "Chalet";
    src: url("../fonts/Chalet.eot");
    src: url("../fonts/Chalet.eot?#iefix"),
         url("../fonts/Chalet.woff") format("woff"),
         url("../fonts/Chalet.ttf") format("truetype"),
         url("../fonts/Chalet.svg#Chalet") format("svg");
     font-weight: normal;
     font-style: normal;
}

body{       
    background: rgb(234,185,45); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%, rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
    rgba(234,185,45,1)), color-stop(56%,rgba(234,204,72,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* W3C */
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 1em; 
}
 header,section#content,footer{    
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
 }

 header{
    background: rgb(180,221,180); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(180,221,180,1) 0%, rgba(5,51,0,1) 0%, rgba(7,112,0,1) 22%,
    rgba(210,242,113,1) 28%, rgba(205,237,111,1) 35%, rgba(205,242,113,1) 47%, rgba(218,252,131,1) 71%,
    rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(180,221,180,1)),
    color-stop(0%,rgba(5,51,0,1)), color-stop(22%,rgba(7,112,0,1)), color-stop(28%,rgba(210,242,113,1)), 
    color-stop(35%,rgba(205,237,111,1)), color-stop(47%,rgba(205,242,113,1)), color-stop(71%,rgba(218,252,131,1)),
    color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(180,221,180,1) 0%,rgba(5,51,0,1) 0%,rgba(7,112,0,1) 22%,
    rgba(210,242,113,1) 28%,rgba(205,237,111,1) 35%,rgba(205,242,113,1) 47%,rgba(218,252,131,1) 71%,
    rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(180,221,180,1) 0%,rgba(5,51,0,1) 0%,rgba(7,112,0,1) 22%,
    rgba(210,242,113,1) 28%,rgba(205,237,111,1) 35%,rgba(205,242,113,1) 47%,rgba(218,252,131,1) 71%,
    rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(180,221,180,1) 0%,rgba(5,51,0,1) 0%,rgba(7,112,0,1) 22%,
    rgba(210,242,113,1) 28%,rgba(205,237,111,1) 35%,rgba(205,242,113,1) 47%,rgba(218,252,131,1) 71%,
    rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
    background: linear-gradient(45deg, rgba(180,221,180,1) 0%,rgba(5,51,0,1) 0%,rgba(7,112,0,1) 22%,
    rgba(210,242,113,1) 28%,rgba(205,237,111,1) 35%,rgba(205,242,113,1) 47%,rgba(218,252,131,1) 71%,
    rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C *//
 }

 header h1, nav{
    display: inline-block;  
    margin-top: 5%; 
    max-width: 100%;
    vertical-align: bottom;
 }
 h2{
    text-align: center;
    font-size: 1em;
    font-family: cursive;
 }
span{
    color:white;
    font-size: 1.4em;
}
span img{
    width: 15%;
    height: 15%;

}
nav a:hover{
    background: #9FFC23;
    border: 0.1em dashed #FFFF00;
    border-radius: 0 0.5em 0 0.5em;    
    color: #008000;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
.Continente{
   color: #F4E73E;
   font-family: cursive;
  ;   
}
.btn{
    color: #0000A0;
    font-size: 1.5em;
}
 .btnConfirm{
    margin-left: 45%;
    margin-top: 2%;
}
.btnCreate{
    background: #FFFF00;
    margin-left: 35%;
    box-shadow: 4px 4px 7px #349EED;
 }
.divCheckbox{ 
    float: left;
    margin-top: 2%;
    padding-right: 1%;
    padding-left: 4%;
    
    width: 22%;
} 
.divCheckbox1{ 
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 2%;
    margin-left:8%;
    width: 20%;
} 
.divCheckbox2{ 
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 2%;
    margin-left: 5%;
    width: 20%;
}
.divCheckbox3{ 
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: -5%;
    margin-left: 4%;
    width: 22%;
} 
.divCheckbox4{ 
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: -29%;
    margin-left: 80%;
    width: 20%;
}  
.divCheckbox5{ 
    float: right;
    padding-right: 1%;
    padding-left: -50%;
    margin-top: -5%;
    margin-right: 50%;
    width: 20%;    
} 

 .divReglas{
    background: url('../img/cesped.jpg');
    border: 0.1em;
    margin-top: 3%;
    color: #000000;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    height: 50%;
    font-size: 2em;
    text-align: justify;
    padding: 20px;
}
.divTeams{
    background: url('../img/cesped.jpg');
    border: 0.1em;
    margin-top: 3%;
    color: #F4FDF4;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    height: 50%;
    font-size: 1.8em;
    text-align: justify;
}
.divTitle{
    width: 100%;
    margin-left:-20%;
    margin-top: 2%;
}

.form-control{
    margin-left: 47%;
    width: 20%;    
}
.Groups{
    background: url('../img/cesped.jpg');
    margin-left: 5%;
    width: 90%;
    color:white;
    text-align: center;
}
.GroupA{
    display: inline-block;
    margin-left:-14%;
    margin-top:10%;
    width: 20%;
}
.GroupB{
    display: inline-block;
    margin-left:-14%;
    margin-top:10%;
    width: 20%;
}
.lblGroupA{
    display: inline-block;
    margin-left: 8%;
    margin-top: 8%;
}
.lblName{
    margin-left: 35%;
    margin-top: 2%;
    position:absolute;    
}
.linav{
    display: inline-block;
    padding: 0.1em;
    margin-bottom: 7px; 
}
.logo{
    width: 13%;
    height:13%;
    margin-left: 5.6%;
    margin-top: 0.5%;
    float: left;
    border-radius: 10%;
}
.name{
    margin-top:5%;
    margin-left: 20%;
    font-size: 1em;
}
.nava{
    background: rgb(180,221,180); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,
    rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 55%, rgba(0,87,0,1) 83%,
    rgba(0,36,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
    rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), 
    color-stop(55%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
    border: 0.1em solid #57ABB8;   
    color: #FFFF00;    
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    margin-bottom: 5%;
    margin-left:10%;
    margin-top: -18%;   
    padding: 0.2em;
    -webkit-box-reflect: below 0px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent),
     to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);      
    border-radius: 20%;
}
.navMenu{
    margin-left: -40%;
}

.tableGroups{
    background:#111217;
}
.tablePosition{
    border:1px solid black;
    font-size: 4em;
}
.tableTeams {
 border-style: solid; 
 border-top-width: 3px; 
 border-right-width: 3px; 
 border-bottom-width: 3px;
 border-left-width: 3px;
 width:80%;
 margin-left: 10%;
 border-color: #E4C618;
}

.title{ 
    float: left;
    font-family: "Comic Sans MS";
    font-size: 1.3em;
    color: #291887;
    text-shadow: 2px 7px 3px #000F00; 
    -webkit-text-stroke: 1px #fff; 
    -webkit-mask-image: 
    -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.6))); 
    display:  inline-block;
    text-align: center;    
    margin-top: -30px;
    margin-left: -5%; 
}
.titleGroups{
    font-family:"Comic Sans MS";
    color: white;
    font-size: 3em;
}
.titleTeams{
    color: white;
    font-size: 2em;    
}
.ulnav {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 15%;
}
.social{
    display: inline-block;
    margin-top: -15%;
    margin-right: -65%;
    text-align: right;
}

.social img { 
    margin: 4px; 
    border: 5px solid #eee; 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
} 

.social img:hover { 
    border: 5px solid #FF7519;
    -webkit-transform: rotate(-7deg); 
    -moz-transform: rotate(-7deg); 
    -o-transform: rotate(-7deg); 
} 

.info{
    font-size: 12px;
}

@media(min-width: 1081px){
    header h1{
        text-align: left;
        width: 25%;
    }

    nav{
        text-align: right;
        width: 70%;
    }

}










@media(max-width: 1080px){
    nav li{
        font-size: 1.3em;
    }

    article#gallery{
        width: 90%;
    }

    aside{
        width: 20%; 
    }
}

@media(max-width: 800px){
    nav li{
        font-size: 0.95em;
    }

    article#gallery{
        width: 88%;
    }
}

@media(max-width: 600px){
    nav li{
        display: inline-block;
        margin: 0px;
        width: 98%;
    }

    section#main{
        margin-bottom: 0.2em;
    }

    section#main, aside{
        display: block;
        margin-bottom: 0.2px;
        width: 95%;
    }
}
