
*{
    border: 0;
    margin: 0;
    padding: 0;
}

 nav,section{
    display: block;
}

@font-face{
    font-family: "Chalet";
    src: url("../fonts/Chalet.eot");
    src: url("../fonts/Chalet.eot?#iefix"),
         url("../fonts/Chalet.woff") format("woff"),
         url("../fonts/Chalet.ttf") format("truetype"),
         url("../fonts/Chalet.svg#Chalet") format("svg");
     font-weight: normal;
     font-style: normal;
}

body{       
    background: rgb(234,185,45); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%, rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
    rgba(234,185,45,1)), color-stop(56%,rgba(234,204,72,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(234,185,45,1) 0%,rgba(234,204,72,1) 56%,
    rgba(199,152,16,1) 100%); /* W3C */
    font-family: "Chalet", Helvetica, Verdana;
    font-size: 1em; 
}
 header,section#content,footer{    
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
 }

 header{
    background: #002400; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #002400 3%, #005700 16%, #52b152 27%, #93c693 36%, #a8c4a8 45%, #a8c4a8 53%, #93c693 62%, #52b152 71%, #005700 81%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(3%,#002400), color-stop(16%,#005700), color-stop(27%,#52b152), color-stop(36%,#93c693), color-stop(45%,#a8c4a8), color-stop(53%,#a8c4a8), color-stop(62%,#93c693), color-stop(71%,#52b152), color-stop(81%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #002400 3%,#005700 16%,#52b152 27%,#93c693 36%,#a8c4a8 45%,#a8c4a8 53%,#93c693 62%,#52b152 71%,#005700 81%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #002400 3%,#005700 16%,#52b152 27%,#93c693 36%,#a8c4a8 45%,#a8c4a8 53%,#93c693 62%,#52b152 71%,#005700 81%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #002400 3%,#005700 16%,#52b152 27%,#93c693 36%,#a8c4a8 45%,#a8c4a8 53%,#93c693 62%,#52b152 71%,#005700 81%,#002400 100%); /* IE10+ */
    background: linear-gradient(45deg,  #002400 3%,#005700 16%,#52b152 27%,#93c693 36%,#a8c4a8 45%,#a8c4a8 53%,#93c693 62%,#52b152 71%,#005700 81%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 }

 header h1, nav{
    display: inline-block;  
    margin-top: 5%; 
    max-width: 100%;
    vertical-align: bottom;
 }
 h2{
    text-align: center;
    font-size: 1em;
    font-family: cursive;
 }
footer{
    background: #002400; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #002400 3%, #005700 14%, #52b152 31%, #83c783 51%, #52b152 65%, #005700 88%, #002400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(3%,#002400), color-stop(14%,#005700), color-stop(31%,#52b152), color-stop(51%,#83c783), color-stop(65%,#52b152), color-stop(88%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #002400 3%,#005700 14%,#52b152 31%,#83c783 51%,#52b152 65%,#005700 88%,#002400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #002400 3%,#005700 14%,#52b152 31%,#83c783 51%,#52b152 65%,#005700 88%,#002400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #002400 3%,#005700 14%,#52b152 31%,#83c783 51%,#52b152 65%,#005700 88%,#002400 100%); /* IE10+ */
    background: linear-gradient(135deg, #002400 3%,#005700 14%,#52b152 31%,#83c783 51%,#52b152 65%,#005700 88%,#002400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#002400',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #000;
    font-family: Arial;
    font-size: 0.85em ;
    padding: 0.75em 0;

}

 fieldset{
    border: solid 1em;
    border-color: red;

 }
span{
    color:white;
    font-size: 1.4em;
}
span img{
    width: 15%;
    height: 15%;

}
nav a:hover{
    background: #9FFC23;
    border: 0.1em dashed #FFFF00;
    border-radius: 0 0.5em 0 0.5em;    
    color: #008000;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}
.Continente{
   color: #F4E73E;
   font-family: cursive;
   font-size: 1.8em; 
}
.Contain{
    background: url('../img/estadium.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
}
.btn{
    color: #0000A0;
    font-size: 1.5em;
}
 .btnConfirm{
    position: relative;
    margin-left: -30%;
    margin-top: 62%;
}
.btnCreate{
    background: #FFFF00;
    margin-left: 35%;
    box-shadow: 4px 4px 7px #349EED;
 }
.divCheckbox{ 
    float: left;
    margin-top: 2%;
    padding-right: 1%;
    padding-left: 4%;    
    width: 21%;
} 
.divCheckbox1{     
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 2%;
    margin-left:-1%;
    width: 20%;
} 
.divCheckbox2{
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: -57%;
    margin-left: 35%;
    width: 20%;
}
.divCheckbox3{ 
    float: left;
    padding-right: 6%;
    padding-left: 1%;
    margin-top: -30%;
    margin-left: 3%;
    width: 22%;
} 
.divCheckbox4{
    float: left;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: 30%;
    margin-left: -4%;
    width: 20%;
}  
.divCheckbox5{ 
    float: right;
    padding-right: 1%;
    padding-left: -50%;
    margin-top: -28%;
    margin-right:60%;
    width: 20%;    
} 
.divReglas{
    background: url('../img/cesped.jpg');
    border: 0.1em;
    margin-top: 3%;
    color: #000000;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    height: 50%;
    font-size: 2em;
    text-align: justify;
    padding: 20px;
}
.divTeams{
    background: url('../img/cesped.jpg');
    border: 0.1em;
    margin-top: 3%;
    color: #F4FDF4;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    height: 50%;
    font-size: 1.5em;
    text-align: justify;
}
.divTitle{
    width: 100%;
    margin-left:-20%;
    margin-top: 2%;
}
.form-control{
    margin-left: 47%;
    width: 20%;    
}
.Groups{
    background: url('../img/cesped.jpg');
    margin-left: 5%;
    width: 90%;
    color:white;
    text-align: center;
}
.GroupA{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:25%;
    margin-top:-62%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em; 
}
.GroupB{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:5%;
    margin-top:-62%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;
}
.GroupC{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:25%;
    margin-top:-47%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;
}
.GroupD{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:5%;
    margin-top:-47%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;
}
.GroupE{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:25%;
    margin-top:-32%;
    width: 15%;
    resize:none  
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;  
}
.GroupF{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:5%;
    margin-top:-32%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;
}
.GroupG{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:25%;
    margin-top:-17%;
    width: 15%;
    resize:none
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em; 
}
.GroupH{
    background: url('../img/canch.jpg');
    float: right;
    margin-right:5%;
    margin-top:-17%;
    width: 15%;
    resize:none;
    color: #F5F02E;
    font-family:"Comic Sans MS";
    font-size: 1.3em;
}

.info{
    font-size: 18px;
    margin-top: 3%;
    color: #000000;
}
.lblGroupA{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 28%;
    margin-top: -65%;

}
.lblGroupB{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 8%;
    margin-top: -65%;
}
.lblGroupC{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 28%;
    margin-top: -50%;
}
.lblGroupD{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 8%;
    margin-top: -50%;
}
.lblGroupE{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 28%;
    margin-top: -35%;
}
.lblGroupF{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 8%;
    margin-top: -35%;
}
.lblGroupG{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 28%;
    margin-top: -20%;
}
.lblGroupH{
    color: #FF6B24;
    font-size: 1.3em;
    float: right;
    margin-right: 8%;
    margin-top: -20%;
}
.lblName{
    margin-left: 34%;
    margin-top: -1.9%;
    position:absolute; 
    font-size: 0.9em;   
}
.linav{
    display: inline-block;
    padding: 0.1em;
    margin-bottom: 7px; 
}
.logo{
    width: 13%;
    height:13%;
    margin-left: 5.6%;
    margin-top: 0.5%;
    float: left;
    border-radius: 10%;
}
.name{
    position: relative;
    margin-top: -2%;
    margin-left: 47%;
    font-size: 1.1em;    
}
.nava{
    background: rgb(180,221,180); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,
    rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 55%, rgba(0,87,0,1) 83%,
    rgba(0,36,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,
    rgba(180,221,180,1)), color-stop(17%,rgba(131,199,131,1)), color-stop(33%,rgba(82,177,82,1)), 
    color-stop(55%,rgba(0,138,0,1)), color-stop(83%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,
    rgba(82,177,82,1) 33%,rgba(0,138,0,1) 55%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C */
    border: 0.1em solid #57ABB8;   
    color: #FFFF00;    
    font-family: "Comic Sans MS";
    font-size: 1.5em;
    margin-bottom: 5%;
    margin-left:10%;
    margin-top: -18%;   
    padding: 0.2em;
    -webkit-box-reflect: below 0px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent),
     to(rgba(0,0,0,0.4)));
    -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);      
    border-radius: 20%;
}
.navMenu{
    margin-left: -40%;
}

.tableGroups{
    background:#111217;
}
.tablePosition{
    border:1px solid black;
    font-size: 4em;
}
.tableTeams {
 border-style: solid; 
 border-top-width: 3px; 
 border-right-width: 3px; 
 border-bottom-width: 3px;
 border-left-width: 3px;
 width:80%;
 margin-left: 10%;
 border-color: #E4C618;
}

.title{ 
    float: left;
    font-family: "Comic Sans MS";
    font-size: 1.3em;
    color: #291887;
    text-shadow: 2px 7px 3px #000F00; 
    -webkit-text-stroke: 1px #fff; 
    -webkit-mask-image: 
    -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.6))); 
    display:  inline-block;
    text-align: center;    
    margin-top: -30px;
    margin-left: -5%; 
}
.titleGroups{
    font-family:"Comic Sans MS";
    color: white;
    font-size: 3em;
}
.titleTeams{
    color: white;
    font-size: 2em;
    padding: 1.5em;    
}
.ulnav {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-left: 15%;
}

.soc{
    height: 10%;
    width: 10%;
}

.youtube{
    height: 9.5%;
    width: 10%;
}
.social{
    display: inline-block;
    margin-top: -70%;
    margin-right: -20%;
    text-align: right;
}
.social img { 
    margin: 4px; 
    border: 5px solid #A49C04; 
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2); 
    -webkit-transition: all 0.5s ease-out; 
    -moz-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
} 

.social img:hover { 
    border: 5px solid #146AEB;
    -webkit-transform: rotate(-7deg); 
    -moz-transform: rotate(-7deg); 
    -o-transform: rotate(-7deg); 
} 

.info{
    font-size: 12px;
}

@media(min-width: 1081px){
    header h1{
        text-align: left;
        width: 25%;
    }

    nav{
        text-align: right;
        width: 70%;
    }

}










@media(max-width: 1080px){
    nav li{
        font-size: 1.3em;
    }

    article#gallery{
        width: 90%;
    }

    aside{
        width: 20%; 
    }
}

@media(max-width: 800px){
    nav li{
        font-size: 0.95em;
    }

    article#gallery{
        width: 88%;
    }
}

@media(max-width: 600px){
    nav li{
        display: inline-block;
        margin: 0px;
        width: 98%;
    }

    section#main{
        margin-bottom: 0.2em;
    }

    section#main, aside{
        display: block;
        margin-bottom: 0.2px;
        width: 95%;
    }
}
